/.idea/.idea.EasyToolTipMauIos/.idea/.gitignore
/.idea/.idea.EasyToolTipMauIos/.idea/.name
/.idea/.idea.EasyToolTipMauIos/.idea/indexLayout.xml
/.idea/.idea.EasyToolTipMauIos/.idea/material_theme_project_new.xml
/.idea/.idea.EasyToolTipMauIos/.idea/misc.xml
/.idea/.idea.EasyToolTipMauIos/.idea/vcs.xml
/EasyToolTipMauIos.Demo/obj
/EasyToolTipMauIos.Demo/obj
